@charset "UTF-8";

@media screen and (max-width: 767px) {

    html,
    body {
        height: 100%;
        margin: 0;
    }

    body {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #FFF8E1;
    }

    h1 {
        font-size: 32px;

    }

    #data {
        font-size: 17px;
    }

    #timer {
        font-size: 32px;
    }

    .card {
        padding-top: 30px;
        width: 300px;
        height: 330px;
        /* border-top: 1px solid #E63946; */
        border-radius: 10px;
    }

    .divImg {
        /* background-color: aqua; */
        width: 200px;
        height: 150px;
        margin-bottom: 10px;
    }

    .frase {
        margin-top: 20px;
        font-size: 15px;

    }
}