@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Fleur+De+Leah&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');


html,
body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF8E1;
    /* flex-wrap: wrap; */
}

#principal {
    /* background-color: cadetblue; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    color: #E63946;
    font-family: 'Fleur de Leah';
    font-weight: 600;
    font-size: 43px;
}

#data {
    color: #FFBA08;
    font-size: 20px;
    font-family: 'Fleur de Leah';
}

#timer {
    font-size: 50px;
    color: #FFBA08;
    font-family: 'Lora';
}

.card {
    background-color: #fcf9f2;
    background-image: linear-gradient(to top, #fcf9f2f3 0%, #fcf9f2f3 100%), url(../img/bakgMamacos.jpeg);

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    padding-top: 30px;
    width: 400px;
    height: 430px;
    /* border-top: 1px solid #E63946; */
    border-radius: 10px;
    box-shadow: 0 8px 16px #e6394770;
}

.divImg {
    /* background-color: aqua; */
    width: 300px;
    height: 250px;
    margin-bottom: 20px;
    transition: all 2s;
}

.img {
    width: 100%;
    height: 100%;
}

.frase {
    margin-top: 20px;
    /* background-color: blueviolet; */
    color: #333333;
    font-size: 20px;
    font-family: 'Lora';
    text-align: center;
}